<!DOCTYPE>

<header>
  <h1 class="heading">
    <a herf="index.html">
      ようこそBOOKERSへ！
    </a>
  </h1>
</header>

<main>
  <strong>BOOKERS</strong>
  では、様々な書籍に関するあなたの意見や</br>
    印象や意見を交換することが出来ます。</p>
</main>

<footer>
  <%= link_to 'START', books_path %>
</footer>